# Ignore large data files
data/
creditcard.csv/
extracted_data/
uploaded.zip

# Ignore environment and model files
.env
*.joblib

# Ignore Python cache
__pycache__/
*.pyc

# Ignore virtual environment
venv/
